.form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%
}

.form-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #555;
}

.form-group input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.2s;
}

.form-group input:focus {
  outline: none;
  border-color: #ca4ee9;
}

.form-container button {
  padding: 12px;
  background-color: #b350e4;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #0a0c78b8;
}

.result {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #28a745;
}

@media screen and (max-width: 480px){
  .form-group input,
  .filters input{
    font-size:14px;
    padding: 10px;
  }

  .form-container button,
  .filters button{
    font-size: 14px;
    padding: 10px;
  }

  .records-container h2{
    font-size: 1.5rem;
  }
}
