.home-container {
  padding: 40px 20px;
  min-height: 100vh;
  background: linear-gradient(135deg, #e3f2fd, #ffffff);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

.home-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

@media screen and(max-width:600px){
  .home-container h1{
    font-size: 1.8rem;
  }
}
